
{% extends "subscriber.html" %}

{% block content %}
  <h3>Sign up for our newsletter to get latest updates</h3>
<div class = "subscribe_form">
    
    <form id = "subscribe" form method = 'POST'>{% csrf_token %}
      <div class="form-group">
        <input  class="form-control" id = "email_id" type = "email" name = "email_id" placeholder="your@email.com">
    
        <button  class="btn btn-primary" type="submit" value = "Subscribe" id = "email_submit">Subscribe</button>
        </div>
       
     </form>
</div>
 <h2 id='result'></h2>
{% endblock %}


{% block script %}
<script type="text/javascript">
  




function validateEmail(email) {
  var re = /^(([^<>()[\]\\.,;:\s@\"]+(\.[^<>()[\]\\.,;:\s@\"]+)*)|(\".+\"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
  return re.test(email);
}

function validate() {
  var $result = $("#result");
  var email = $("#email").val();
  $result.text("");

  if (validateEmail(email)) {
    $result.text(email + " is valid :)");
    $result.css("color", "green");
  } else {
    $result.text(email + " is not valid :(");
    $result.css("color", "red");
  }
  return false;
}

$("#validate").bind("click", validate);







  $('#subscribe').submit(function(e){
      e.preventDefault();
      var email_id = $("#email_id").val();
      var $result = $("#result");
      if(email_id){
        var csrfmiddlewaretoken = csrftoken;
        var email_data = {"email_id": email_id, 
                          "csrfmiddlewaretoken" : csrfmiddlewaretoken};
        $.ajax({
          type : 'POST',
          url :  '/subscribe/',
          data : email_data,
          success : function(response){
            $('#email_id').val(''); 
            if(response.status == "404"){
              $result.text(email_id + " Email already been subscribed! :)");
              $result.css("color", "red");
            }
            else{
              $result.text(" Thank you for Subscribe");
              $result.css("color", "green");
            }
          },
          error: function(response) {
            $result.text(" Something Went Wrong");
            $result.css("color", "red");
             
            $('#email_id').val(''); 
          }
        });
        return false;
      }
      else{
          $result.text(" Please Provide correct Email");
          $result.css("color", "red");
      }
  });
</script>
{% endblock %}